<!doctype html>
<html>
  <head>
    <title>GPX File Upload</title>
  </head>
  <body>
    <!-- Taken from Michal's form.html repo -->>
    <!-- This part is for error messages "flashed" by flask -->
    {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
    {% endfor %}

    <h1>GPX File Upload</h1>
      <img src="{{url_for('static', filename='colored_google.png')}}" />
    <p>Please upload you GPX file to calculate your directions:</p>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>